PORT=4000
CATALOG_SERVICE_PORT=4001
ORDER_SERVICE_PORT=4002
RATING_SERVICE_PORT=4003
NOTIFICATION_SERVICE_PORT=4004
GATEWAY_PORT=4000
FRONTEND_PORT=3000

MONGO_URI=mongodb+srv://<username>:<password>@cluster0.zjk35mk.mongodb.net/cake_delight?retryWrites=true&w=majority
REDIS_HOST=localhost
REDIS_PORT=6379

CATALOG_SERVICE_URL=http://localhost:4001
ORDER_SERVICE_URL=http://localhost:4002
RATING_SERVICE_URL=http://localhost:4003
NOTIFICATION_SERVICE_URL=http://localhost:4004
